 /* exemple position absolute https://mehditmimi.com/tools/web-playground/?html=DwEwlgbgBAxgNgQwM5ILwCIB2kCmCCuAjOgHwBQUlUoksiKG2Ee%2BATKRVVzdPMmllwEAzBy7iqwAEb4ALrID2mKLICeABxwYZ8paXhgYAa2AB6HYszkJlM%2BAjXJp%2B%2BTuQSQA&css=EYewJgngBA3gUFKAHAhmMBLAdgcwFxQCsADEgB4DcCUwKAxgNY4BOIArlmALR0gA2IZgRYoIVRAAsAphhwSALgQBMxYgDcJVAL5w4AOiwY1UlGwCMsarUYt2nHv0EFmUsOKjTZCggA51m6lR0bHwiUkpAkABnDHkMECxnKT4UOONtXQMjEzYlS0RrJlYObl4BIRo%2BNil3TzlFKDNVAFJ3IMxcAhJyDP1DY1MAZnyaeiK7UscKiGSBAHdamXqCJuJWyJi4hKSUtJq4HWA2eXkE%2BEQkaNj4xKgUYCj%2BY-2CkBOQAFsCcPdmLwafgcgA */
:root {
  --padding-left-right: 40px;
}
* {
  padding: 0;
  margin: 0;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 20px var(--padding-left-right);
  align-items: center;
}
header ol {
  display: flex;
  align-items: flex-end;
  gap: 30px;
}
header li {
  display: block;
}
header li a {
  text-decoration: none;
  color: rgb(28, 3, 132);
}
header .logo-item {
  height: 16px;
}
header img {
  height: 100%;
}

header ul {
  display: flex;
  gap: 30px;
  align-items: center;
}
header .lang-switch {
  display: flex;
  gap: 10px;
}

/* ============== main ================= */
/* ============== section 1 ================= */
main #section1 {
  display: flex;
  padding: 50px var(--padding-left-right);
  align-items: center;
}
main #section1 .logo-section {
  height: 50px;
}
main #section1 > * {
  width: 50%;
}
main #section1 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}
main #section1 > div h2 {
  font-size: 4em;
}
main #section1 > div p {
  font-size: 2em;
  text-align: justify;
}
.group-btn {
  display: flex;
  gap: 10px;
}
.start-btn {
  padding: 10px 25px;
  color: white;
  border: 0;
  background: #6520ec;
  border-radius: 20px;
}
.video-btn {
  display: flex;
  align-items: center;
  border: 1px solid lightblue;
  padding: 10px;
  border-radius: 25px;
  background-color: white;
}

/* -------------------------- section 2 ------------------------- */
.section2 {
  display: flex;
  background: #0acafa;
  background: linear-gradient(
    180deg,
    rgba(10, 202, 250, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  padding: 50px 5% 0px 5%;
  gap: 20px;
}
.section2 article {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 50px 20px;
  gap: 20px;
  border-radius: 15px;
}
.section2 article h3 {
  font-size: 2em;
  margin-bottom: 10px;
}
.section2 article p {
  font-size: 1.2em;
}
.section2 article img {
  height: 150px;
}
.section2 > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: flex-start;
}

@media screen and (max-width: 980px) {
  body header {
    flex-direction: column;
    gap: 20px;
  }
  .section2 {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .section2 article {
    flex-direction: column;
  }
}
